<div class="weather__content">
    <div class="weather__top-content">
        <div class="weather__tab-wrapper">
            <button class="weather__tab" click="function() { toggleTabs() }" data-bind="enable: isWeekVisible()">Today</button>
            <button class="weather__tab" click="function() { toggleTabs() }" data-bind="enable: isDayVisible()">Week</button>
        </div>
        <div class="weather__location" data-bind="text: location"></div>
    </div>

    <if args="isDayVisible()">
        <div class="today" id="today" data-bind="foreach: todayWeatherArray">
            <div class="today__item">
                <div class="today__time" data-bind="text: dt"></div>
                <div class="today__main-data">
                    <img class="today__image" alt="Weather image" data-bind="attr: {src: icon}">
                    <div class="today__temperature">current: <span data-bind="text: temp"></span>
                    </div>
                    <div class="today__wind-speed" data-bind="text: windSpeed"></div>
                </div>
                <div class="today__description-wrapper">
                    <div class="today__description" data-bind="text: description"></div>
                </div>
            </div>
        </div>
    </if>
    <if args="isWeekVisible()">
        <div class="week" id="week" data-bind="foreach: weekWeatherArray">
            <div class="week__item">
                <div class="week__day" data-bind="text: dt"></div>
                <div class="week__main-data">
                    <img class="week__image" alt="Weather image" data-bind="attr: {src: icon}">
                    <div class="week__temperature">
                        <span class="week__scale" data-bind="text: tempMin"></span>
                        <span class="week__scale" data-bind="text: tempMax"></span>
                    </div>
                    <div class="week__wind-speed" data-bind="text: windSpeed"></div>
                </div>
                <div class="today__description-wrapper">
                    <div class="week__description" data-bind="text: description"></div>
                </div>
            </div>
        </div>
    </if>
</div>