// /**
//  * Absolute Web Services Intellectual Property
//  *
//  * @category     {AWS/Capezio}
//  * @copyright    Copyright © 1999-2021 Absolute Web Services, Inc. (http://www.absolutewebservices.com)
//  * @author       Absolute Web Services
//  * @license      http://www.absolutewebservices.com/license-agreement/  Single domain license
//  * @terms of use http://www.absolutewebservices.com/terms-of-use/
//  */

@color-green-light: #93c43f;
@color-green-lighter: #c0d996;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .today {
        display: grid;
        gap: 10px;

        &__item {
            .lib-css(padding, @indent__base);
            .lib-css(border-radius, @indent__base);   
            -webkit-backdrop-filter: blur(10px);    
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, .2);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
            min-height: 300px;
            overflow: hidden;
            position: relative;
            transition: all .6s;

            &:first-child {
                .lib-css(border-radius, 0 @indent__base @indent__base @indent__base);
                background-color: rgba(132, 90, 255, 0.2);
            }

            &:before {
                background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(211,167,255,0.1) 50%, rgba(255,255,255,0) 100%);
                bottom: 0;
                content: '';
                height: 200%;
                position: absolute;
                right: 0;
                transform: rotate(14deg) translateY(275px);
                width: 200px;
            }

            &:after {
                background: linear-gradient(0deg, rgba(255,255,255, 1) 0%, rgba(211,167,255,0.2) 50%, rgba(255,255,255,0) 100%);
                bottom: 0;
                content: '';
                height: 200%;
                position: absolute;
                right: 0;
                transform: rotate(7deg) translateY(275px);
                width: 70px;
            }

            &:hover {
                background-color:rgba(132, 90, 255, .8);
                border: 1px solid @color-white;
            }
        }

        &__time {
            .lib-font-size(16);
            .lib-css(font-weight, @font-weight__bold);
            .lib-css(margin-bottom, @indent__l);
            text-align: center;
        }

        &__main-data {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
            justify-content: center;
        }

        &__temperature {
            .lib-font-size(16);
            .lib-vendor-prefix-display(flex);
            .lib-css(font-weight, @font-weight__bold);
            .lib-css(margin-bottom, @indent__s);
            text-align: center;
        }

        &__description {
            .lib-font-size(16);
            text-align: center;
        }

        &__wind-speed {
            .lib-css(margin-bottom, @indent__l);
            text-align: center;
        }

        &__description-wrapper {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
            margin-left: auto;
            margin-right: auto;
            max-width: 250px;
            width: 100%;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .today {
        grid-template-columns: 1fr;

        &__item {
            min-height: 150px;
            position: relative;

            &:first-child {
                .lib-css(border-radius, @indent__base);
            }
        }

        &__time {
            .lib-css(margin-bottom, @indent__s);
            padding-left: 0;
            padding-right: 0;
            text-align: left;
            width: 100%;

            &:before {
                display: none;
            }
        }

        &__temperature {
            margin-right: 0;
            padding-right: 0;
            text-align: left;
            width: 100%;

            &:before {
                display: none;
            }
        }

        &__wind-speed {
            padding-right: 0;
            text-align: left;
            width: 100%;
        }

        &__description-wrapper {
            .lib-css(margin-top, @indent__s);
            margin-left: 0;
            max-width: 100%;
            text-align: center;
        }

        &__image {
            .lib-css(right, @indent__base);
            .lib-css(top, @indent__base);
            position: absolute;
        }

        &__main-data {
            padding-left: 0;
            padding-right: 0;

            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .today {
        grid-template-columns: 1fr 1fr;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .today {
        grid-template-columns: 1fr 1fr 1fr;
    }
}