// /**
//  * Absolute Web Intellectual Property
//  *
//  * @category     {AWS/Capezio}
//  * @copyright    Copyright © 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
//  * @author       Absolute Web
//  * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
//  * @terms of use http://www.absoluteweb.com/terms-of-use/
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .toggle {
        position: relative;

        &__wrapper {
            position: absolute;
            right: 3px;
            top: 0;
        }

        &__input {
            -webkit-appearance: none;
            appearance: none;
            position: absolute;
        }

        &__label {
            display: block;
            height: 30px;
            overflow: hidden;
            position: relative;
            transition: transform .7s ease-out;
            width: 60px;

            &:before {    
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 20px;
                box-sizing: border-box;
                content: '';
                cursor: pointer;
                display: block;
                height: 30px;
                left: 0;
                position: absolute;
                top: 0;
                width: 60px;
                z-index: 1;
            }

            &:after {
                background-color: #eee;
                border-radius: 50%;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
                box-sizing: border-box;
                content: '';
                cursor: pointer;
                display: block;
                height: 24px;
                left: 3px;
                position: absolute;
                top: 3px;
                transform: translate(0, 0);
                transition: all .6s;
                width: 24px;
                z-index: 2;
            }

            &:hover {
                &:after {
                    background-color:rgba(132, 90, 255, .8);
                    border: 1px solid #eee;
                }
            }
        }
    }
}