// /**
//  * Absolute Web Services Intellectual Property
//  *
//  * @category     {AWS/Capezio}
//  * @copyright    Copyright © 1999-2021 Absolute Web Services, Inc. (http://www.absolutewebservices.com)
//  * @author       Absolute Web Services
//  * @license      http://www.absolutewebservices.com/license-agreement/  Single domain license
//  * @terms of use http://www.absolutewebservices.com/terms-of-use/
//  */

//
// Variables
//

@color-black: #000;
@color-gray-dark: #999999;
@color-gray: #cccccc;
@color-gray-light: #e6e6e6;
@color-white: #fff;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .weather {
        .lib-css(margin, @indent__base auto 0);
        position: relative;
        width: 100%;

        &__top-content {
            .lib-vendor-prefix-display(flex);
        }

        &__link {
            display: inline-block;
        }

        &__tab-wrapper {
            .lib-vendor-prefix-display(flex);
        }

        &__tab {
            .lib-font-size(24);
            .lib-css(padding, 15px @indent__s 14px);
            .lib-css(margin-bottom, @indent__s);   
            -webkit-backdrop-filter: blur(10px);    
            backdrop-filter: blur(10px);
            background-color: rgba(132, 90, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, .2);
            border-radius: 0 20px 0 0;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) !important;
            color: @color-white;
            display: block;
            font-weight: 500;
            text-decoration: none;
            transition: all .6s;
            width: 150px;

            &:visited {
                color: @color-gray-dark;
            }

            &:focus,
            &:hover {
                background-color:rgba(132, 90, 255, .8);
                border: 1px solid @color-white;
                box-shadow: none;
                color: @color-white;
                outline: none;
                text-decoration: none;
            }

            &:first-child {
                .lib-css(margin-right, @indent__s);
                .lib-css(border-radius, @indent__base 0 0 0);
            }

            &--disabled {
                cursor: default;
                pointer-events: none;
            }

            &--active {
                background-color: @color-white;
                color: @color-black;
            }
        }

        &__logo-wrapper {
            .lib-vendor-prefix-display(flex);
            .lib-css(margin-bottom, @indent__base);
            width: 150px;
        }

        &__location {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            .lib-css(margin-bottom, @indent__xs);
            color: @color-white;
            margin-left: auto;
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .weather {
        &__tab {
            .lib-font-size(20);
            .lib-css(margin-bottom, @indent__s);
            max-width: 200px;
            width: 100%;

            &:first-child {
                .lib-css(margin-right, @indent__s);
            }
        }

        &__top-content {
            .lib-vendor-prefix-flex-direction(column);
        }

        &__location {
            .lib-css(margin-bottom, @indent__s);
            margin-right: auto;
        }
    }
}