<div class="weather">
    <div class="toggle__wrapper">
        <div class="toggle" data-mage-init='{"aws-toggle-theme": {}}'>
            <input class="toggle__input" type="checkbox" id="weather-toggle-input">
            <label class="toggle__label" for="weather-toggle-input" data-role="data-label"></label>
        </div>
    </div>
    <div class="weather__logo-wrapper">
        <a class="weather__link" href="/"><img src="<?php echo $this->getViewFileUrl('/images/weather-logo-purple.png'); ?>" class="weather__logo" alt="Your weather"></a>
    </div>
    <div id="weather-inner-block" class="weather__inner" data-bind="scope:'aws-get-weather'">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#weather-inner-block": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "aws-get-weather": {
                            "component": "aws-get-weather",
                            "config": {
                                "actionUrl": "<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                            }
                        }
                    }
                }
            }
        }
        </script>
    </div>
</div>