// /**
//  * Absolute Web Intellectual Property
//  *
//  * @category     {AWS/Capezio}
//  * @copyright    Copyright © 1999-2021Absolute Web, Inc. (http://www.absoluteweb.com)
//  * @author       Absolute Web
//  * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
//  * @terms of use http://www.absoluteweb.com/terms-of-use/
//  */

@import 'blocks/_today.less';
@import 'blocks/_toggle.less';
@import 'blocks/_weather.less';
@import 'blocks/_week.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .disabled {
        pointer-events: none;
    }

    input[type="checkbox"] {
        margin: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .toggle__input {
        &:checked {
            + .toggle__label {
                &:after {
                    background-color:rgba(132, 90, 255, .8);
                    border: 1px solid #eee;
                    box-shadow: -1px 1px 3px rgba(0, 0, 0, .4);
                    transform: translate(30px, 0);
                }

                &:hover {
                    &:after {
                        background-color: @color-white;
                        border: none;
                    }
                }
            }
        }
    }

    .cms-home {
        color: @color-white;

        .copyright {
            display: none;
        }

        .page-main {
            background-image: url('@{baseDir}AbsoluteWeb_Roadmap/images/main.jpg');
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            overflow-y: scroll;
            position: relative;
            transition: all .6s;
        }

        &.dark {
            .page-main {
                background-image: url('@{baseDir}AbsoluteWeb_Roadmap/images/main-dark.jpg');
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .page-main {
            max-width: 100%;
        }
    }
}